<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1064718728262-oqhhvjgg6q4jr7ssjjn5ulj4crnk9ovi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064718728262-oqhhvjgg6q4jr7ssjjn5ulj4crnk9ovi</string>
	<key>API_KEY</key>
	<string>AIzaSyDsEHXcXQ_9IClmlztOkEmehf_vY6o7BoI</string>
	<key>GCM_SENDER_ID</key>
	<string>1064718728262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metallic-archaea.TokiChat</string>
	<key>PROJECT_ID</key>
	<string>tokichat-4c244</string>
	<key>STORAGE_BUCKET</key>
	<string>tokichat-4c244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064718728262:ios:ac10de80dd5acd7f</string>
	<key>DATABASE_URL</key>
	<string>https://tokichat-4c244.firebaseio.com</string>
</dict>
</plist>